* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 font-family: 'Poppins', sans-serif;
  letter-spacing:1px;
  background-color: #fff;
}
body,
html {
  overflow-x: hidden;
}
.navbar {
  background-color:rgba(0, 0, 0, 0.85) !important;
  color:#cdad36 !important; 
   position: sticky; top: 0; /* keeping the header fixed to the top*/
  
}
.navbar .nav-item {
  text-align:center;
  padding:3px 10px;
}
@media (min-width:992px) {
  .navbar {
    background-color:rgba(0, 0, 0, 0.6) !important;
     color:#ebcd5b !important;
  }
}
@media (min-width:992px) {
  .navbar .nav-item {
    padding:3px 8px;
  }
}
@media (min-width:1250px) {
  .navbar .nav-item {
    padding:3px 15px;
  }
}
.navbar .nav-item .nav-link {
  color:#ebcd5b !important;
  padding:5px 0;
  font-size:13px;
  text-transform:uppercase;
}
@media (min-width:992px) {
  .navbar .nav-item .nav-link {
    font-size:12px;
  }
}
@media (min-width:1250px) {
  .navbar .nav-item .nav-link {
    font-size:14px;
  }
}
@media (min-width:576px) {
  .navbar .navbar-nav {
    margin-top:5px;
  }
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/Background.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.landingPage {
  min-height:100vh;
  width:100%;
  background-size:cover;
  background-position:center;
  overflow:hidden;
  padding:100px 0 35px 0;
background: url(../imgs/marble.jpg);
}
.text-center {
    text-align: center!important;
}
@media (min-width:576px) {
  .landingPage {
 background: url(../imgs/marble.jpg);
  }
}
@media (min-width:768px) {
  .landingPage {
 background: url(../imgs/marble.jpg);
  }
}
@media (min-width:992px) {
  .landingPage {
    padding:160px 0 70px 0;
  }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
p {
  font-size:18px;
   color: #fff;
   padding-bottom: 20px;
}
h5{
    font-size:28px;
    color:#cdad36;
    margin:20px;
    margin-bottom:20px;
    font-family: 'Playfair Display', serif;
}

 .item p {
    color: #fff;
}

.photo {
    overflow: hidden;
    border-top: 2px solid #deac54;
    border-bottom: 2px solid #deac54;
    border-left: 4px solid #deac54;
    border-right: 4px solid #deac54;
    background-color: #deac54;
   margin:0px auto;
 
}
.photo img{
    height: 550px;
    width:100%;
    box-shadow: 0 3px 10px rgb(0 0 0 /.4);
     transition: transform 0.3s ease;
    
}
.photo img:hover {
  transform: scale(1.1);
}
.photo .item {
  height:300px;
  background-size:cover;
  Margin:0 auto;
  background-position:center;
  border:2px solid #deac54;
}
@media (min-width:576px) {
  .photo .item {
    height:100px;
  }
}
@media (min-width:768px) {
  .photo .item {
    height:400px;
  }
}
@media (min-width:922px) {
  .photo .item {
    height:300px;
}
}
@media (min-width:1200px) {
  .photo .item {
    height:300px;
  }
}
@media (min-width:1400px) {
  .photo .item {
    height:400px;
  }
}
@media (min-width:1500px) {
  .photo .item {
    height:500px;
  }
}
@media (min-width:1700px) {
  .photo .item {
    height:600px;
  }
}

/* CONTACT AREA CONTACT AREA CONTACT AREA CONTACT AREA CONTACT AREA  */
.mainContainer{
   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contact {
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact {
  background-color:#000;
  padding-top:30px;
  padding-bottom:30px;
}
.contact .item {
  color:#e0d8d6;
}
.contact.item strong {
  text-transform:uppercase;
  letter-spacing:1.5px;
  font-weight:bold;
}
.contact .item p {
  font-weight:300;
  padding-top:4px;
}
.contact .item a {
  color:#e0d8d6;
}
.contact .item + .item {
  margin-top:30px;
}
 .contact .titleSection {
  color:#cdad36;
  text-transform:uppercase;
  font-family:'DM Serif Text', serif;
  font-size:28px;
  padding-bottom:40px;
  animation: fadeInLeft2 3s 1;
}
@media (min-width:576px) {
   .contact .titleSection {
    font-size:32px;
      background-color:#000;
  }
}
@media (min-width:992px) {
   .contact .titleSection {
    font-size:36px;
      background-color:#000;
  }
}
 /* FORM AREA FORM AREA FORM AREA FORM AREA  */
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.line {
  /* width:25vw; */
  /* height: 3.5vw; */
  margin: 1.2vw;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  border: none;
  opacity: .9;
  font-family: 'Montserrat', cursive;
  font-size: 20px;
  padding-left: 10px;
  cursor: text;
}
.box {
  /* width: 25vw; */
  /* height: 15vw; */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
  border:none;
  opacity: .9;
  font-family: 'Montserrat', cursive;
  margin:1.5vw 0;
  font-size:22px;
  padding:10px 0 0 10px;
  cursor: text;
}
.send-button {
  padding: 1.2vw 5vw;
  background-color: #deac54;
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 /.4);
  color: #FFFFFC;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  margin-bottom: 2vw;
  cursor: pointer;
  transition: all .5s;
  padding-bottom: 30px;
}
.send-button:hover{
  transform: scale(1.1);
  opacity: .8;
  box-shadow: 0 10px 10px rgb(0 0 0 /.7);
}

@media (min-width:576px) {
  .contact .form .input {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#000;
  padding-top:30px;
  padding-bottom:30px;
}
}
@media (min-width:768px) {
.contact .form .input {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}

/* FOOTER AREA FOOTER AREA FOOTER AREA FOOTER AREA FOOTER AREA  */

.socialmedia{
   margin-top: 20px;
    }

.connect {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1%;
  text-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
  background: #deac54;;
 } 
 
hr {
  width: 30%;
  margin: 1.5% auto;
}
.social-media {
  margin: 0 auto;
}
.social-media > i > a > ion-icon {
  font-size: 2.5em;
  color:#deac54;
  margin: 0 2vw;
  cursor: pointer;
  transition: all .5s;
}
ion-icon:hover {
  transform: scale(1.2, 1.2);
}

@media (min-width:576px) {
footer  {
  background-color:#1a1113;
  height:1px;
}
footer .social-media {
  background-color:#fff;
  padding-top:3px;
  padding-bottom:2px;
}
.connect{
text-align: center;
}
}
/* MENU PAGE  COCKTAIL PAGE MENU PAGE  COCKTAIL PAGE  MENU PAGE COCKTAIL PAGEMENU PAGE */
.menuPage{
  min-height:100vh;
  width:100%;
  background-size:cover;
  background-position:center;
  overflow:hidden;
  padding:100px 0 35px 0;
background: url(../imgs/whiteMarble.jpg);
}
.menuPage img{
height:550px;
width:550px;
object-fit:contain;
 box-shadow: 0 3px 10px rgb(0 0 0 /.4);
     transition: transform 0.3s ease;
     height:500px;
}

@media (min-width:576px) {
  .menuPage {
 background: url(../imgs/whiteMarble.jpg);
  }
}
@media (min-width:768px) {
  .menuPage {
 background: url(../imgs/whiteMarble.jpg);
  }
}
@media (min-width:992px) {
  .menuPage {
    padding:160px 0 70px 0;
  }
}

/* KEY FRAMES KEY FRAMES KEY FRAMES KEY FRAMES KEY FRAMES KEY FRAMES  */

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4vw);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(4vw);
    transform: rotate(10deg);
  }
}
@keyframes fadeInLeft2 {
  0% {
    opacity: 0;
    transform: translateX(-4vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }  
 }
